/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* --- the real CSS -- */

body {
	background: white;

	font-family: Helvetica,Arial,sans-serif;
}

h1 {
    margin: 5px 0;
    font-weight: bold;
}

.header {
    height: 80px;

    font-weight: 500;
    color: gray;
    font-size: 0.7em;
    overflow: hidden;

}

.navset {
    height: 100%;
}

.img-responsive {
	max-height: 80%;
	width: auto;
}

img.alignleft {
    margin-right: 5px;
}

.navitem {
	border-width: 1px;
	border-color: #ddd;
	border-left-style: solid;
	padding: 20px 5px ;
	height: 100%;
	line-height: 40px;

}
.navitem ul {
    list-style-type: none;
    margin-top: inherit;
}
.navitem li {
    margin-bottom: 10px;
    line-height: 20px;
}

.lastitem {
	border-width: 1px;
	border-color: #ddd;
	border-right-style: solid;
}

.sm {
	padding: 15px 10px;
}

.sm-twitter {
	margin-top: 5px;
}

.banner {

	border: 1px;
	border-color: #ddd;
	border-top-style: solid;
	border-bottom-style: solid;
	background-color: white;
	position: relative;
}

.bannercontent {
	margin: 0 50px;
	padding: 10px 0;
}

.banner-image {
    min-width: 200px;
}

.bannernav {

	color: #777;
	display: inline-block;
	float: right;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	list-style-type: none;
}
.bannernav a { /* O/w bootstrap overrides it */
    color: inherit;
}
.bannernav li {
    display: inline-block;
    margin-right: 30px;
}

.home-content {
	height: 200px;
	margin-top: 20px;
	text-align: center;
	font-family: 'Habibi', serif;
	font-weight: 400;
	font-size: 1.5em; 
}
.innerpage-content {
	margin-top: 20px;

	font-family: 'Habibi', serif;
	font-weight: 400;
	font-size: 1em; 
}

.footer {
	background: #fff url('../images/footer-background.jpg') repeat fixed;
	height: 200px;
	padding: 20px 0;
}

.footer-item-title {
	font-family: Arial;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	color: #000;
	display: inline;
}

.footer-item-title:after {
	content: "";
	width: 55%;

	line-height: 7px;
	border-width: 2px;
	border-color: #000;

	height: 5px;
	border-top-style: solid;
	border-bottom-style: solid;
	overflow: hidden;


	margin-left: 15px;
	display: inline-block;
}

.footer-item-section {
	border-top-style: solid;
	border-width: 1px;
	margin-top: 10px;
	padding-top: 2px;
	width: 50%;
	font-family: Helvetica,Arial,sans-serif;
	line-height: 1.6em;
	font-size: 0.9em;
	color: rgb(39, 112, 143);
}

.phonemenu {
    display: none;
    margin-top: 10px;
    padding: 15px 0;
    background: darkgrey;
}

.phonemenu li {
    background: black;
    margin-bottom: 5px;
}
.phonemenu li a {
    color: white;
}


/* Utility classes */

ul {
    list-style: disc outside;
}
ol {
    list-style: decimal outside;
}

ul,ol {
    margin-top: 10px;
}

p {
    margin-bottom: 10px;
}

.inline {
	display: inline;
}

.bottom-debug {
	visibility: hidden;
	position: fixed;
	bottom: 20px;
	height: 15px;
	background-color: lightgreen;
}

.center {
    height: 100%;
    margin: auto;
    text-align: center;
}

.phonestripes-background {
    min-width: 40px;
    background-color: black;
}

.alignleft {
    float: left;
}

/* Media queries */

@media (min-width: 992px) {

    .banner:after {
	height: 20px;
	content: "";
	width: 100%;
	background-image: url('../images/header-shadow.png');
    }

}

@media (max-width: 768px) {
    .home-content {
	font-size: 1.2em;
    }
}

@media (max-width: 450px) {
    .bannercontent {
	margin: 0 25px;
    }

    .footer {
	height: inherit;
    }
}

